@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

:root {
  --color0: #363636;  
  --color1: #b40000;
  --color2: #b8a500;
  --color3: #1200b4;
  --color4: #b6b6b6;
  --color5: #363636;
  --color6: #1f1e1e;
  --casedim: 110px;
  --casemargin: 11px;
  --height: 792px;
  --width: 924px;
}

html, body
{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
  font-family: 'Exo', sans-serif;
  height: 100%;
  background:      
  linear-gradient(190deg, var(--color6), 60%, var(--color5));
  min-height: 90vh; /* fix for body bigger than viewport. do not set width */
  color: var(--color4);
  font-weight: bold;
  margin-bottom: 0;
}

h1 {
  text-align: center;
  color: var(--color3);
  margin: var(--casemargin);
}

#player {
  text-align: center;
  margin: var(--casemargin);
}

#gameboard {
  background-color: var(--color3);
  width: var(--width);
  height: var(--height);
  margin: auto;
  border-radius: 3px;
}

.case {
  width: var(--casedim);
  height: var(--casedim);
  border-radius: 50%;
  margin: var(--casemargin);
  text-align: center;
}

.row {
  display: flex;
}

#resetbutton {
  margin: var(--casemargin) auto;
  font-family: 'Exo', sans-serif;
  width: var(--casedim);
  text-align: center;
  border-radius: 10%;
  color: var(--color5);
  background-color: var(--color4);
  box-shadow: 0 0 0.5em 0.2em var(--color3), 0 0 0.4em 0.4em var(--color1);
  transition: color .3s, background-color .2s, box-shadow .25s; /* Animation */
  grid-area: reset;
}

#resetbutton:hover {
  color: var(--color3);
  background-color: var(--color2);
  box-shadow: 0 0 0.4em 0.4em var(--color1);
}

#resetbutton:active {
  color: var(--color3);
  background-color: var(--color2);
  box-shadow: 0 0 0.4em 0.4em var(--color1);
}

@media only screen and (max-width: 720px) { /* for mobile screen */
  :root {
    --casedim: 40px;
    --casemargin:4px;
    --height: 288px;
    --width: 336px;
  }
  h1 {
    margin: var(--casedim);
  }
  #player {
    margin: var(--casedim);
  }
  #resetbutton {
    margin: var(--casedim) auto;

  }
}